<footer>
  <div class="jumbotron-fluid bg-dark text-white padding-top-70 footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 text-center">
          <img
            src="/images/logo.png"
            alt="Logo de ZaruArquitectura"
            class="site-logo text-center"
          />
          <p>
            Natus eget occaecati, lobortis, vestibulum nam eros, risus lacinia
            lacus.Lorem accusantium.
          </p>
          <% include social-network-buttons %>
        </div>
        <div class="col-md-1"></div>
        <div class="col-12 col-md-4">
          <h3 class="padding-bottom-40">Detalles de contácto</h3>
          <ul class="ps-0">
            <li class="padding-bottom-20">
              <span class="mdi mdi-directions fs-4"></span>
              125, Central Square,New York
            </li>
            <li class="padding-bottom-20">
              <span class="mdi mdi-phone fs-4"></span>
              91 123-456-7890/91
            </li>
            <li class="padding-bottom-20">
              <span class="mdi mdi-phone fs-4"></span>
              (002) 123-4567
            </li>
            <li class="padding-bottom-20">
              <span class="mdi mdi-email fs-4"></span>
              Info@Example.Com
            </li>
          </ul>
        </div>
        
      <div class="text-center padding-top-30 padding-bottom-30">
        Copyright © <%= new Date().getFullYear() %> ZaruArquitectura
      </div>
    </div>
  </div>
</footer>
