<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h1>
          Logo de nuevo aqui
        </h1>
        <p>
          Natus eget occaecati, lobortis, vestibulum nam eros, risus lacinia
          lacus.Lorem accusantium.
        </p>
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <h1>Contact details</h1>
        <p>
          125, Central Square,New York
        </p>
        <p>
          91 123-456-7890/91
        </p>
        <p>
          (002) 123-4567
        </p>
        <p>
          Info@Example.Com
        </p>
      </div>
      <div class="col-12 col-md-4">
        <h1>Important links</h1>
      </div>
    </div>
    <div class="text-center">
      Copyright © 2019 ZaruArquitectura
    </div>
  </div>
</footer>
