<footer>
  <div class="jumbotron-fluid bg-dark text-white padding-top-70">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <h3 class="padding-bottom-20">
            Logo de nuevo aqui
          </h3>
          <p>
            Natus eget occaecati, lobortis, vestibulum nam eros, risus lacinia
            lacus.Lorem accusantium.
          </p>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
        <div class="col-12 col-md-4">
          <h3 class="padding-bottom-20">Contact details</h3>
          <p>
            125, Central Square,New York
          </p>
          <p>
            91 123-456-7890/91
          </p>
          <p>
            (002) 123-4567
          </p>
          <p>
            Info@Example.Com
          </p>
        </div>
        <div class="col-12 col-md-4">
          <h3 class="padding-bottom-20">Important links</h3>
        </div>
      </div>
      <div class="text-center padding-top-30 padding-bottom-30">
        Copyright © 2019 ZaruArquitectura
      </div>
    </div>
  </div>
</footer>
