<title><%= title %></title>
<script src="/dist/main.js" defer></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@mdi/font@6.6.96/css/materialdesignicons.min.css"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Shadows+Into+Light&display=swap"
  rel="stylesheet"
/>
