<nav class="navbar navbar-expand-lg navbar-dark bg-principal">
  <div class="container">
    <a
      class="navbar-brand padding-bottom-0 padding-top-0 margin-right-0"
      href="#"
    >
      <img
        src="/images/logo.png"
        alt="Logo de ZaruArquitectura"
        class="site-logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ms-auto">
        <a class="nav-item nav-link active navbar__link" href="/">Hogar </a>
        <a class="nav-item nav-link navbar__link" href="#">Acerca de</a>
        <a class="nav-item nav-link navbar__link" href="#">Services</a>
        <a class="nav-item nav-link navbar__link" href="#">Projects</a>
        <a class="nav-item nav-link navbar__link" href="/contactanos"
          >Contact Us</a
        >
      </div>
    </div>
  </div>
</nav>
