<a href="#" class="btn btn-secondary">
  <i class="fab fa-facebook-f"></i>
</a>
<a href="#" class="btn btn-secondary">
  <i class="fab fa-youtube"></i>
</a>
<a href="#" class="btn btn-secondary">
  <i class="fab fa-twitter"></i>
</a>
