<a href="#" class="margin-right-5 btn">
  <i class="mdi mdi-facebook fs-1 text-white"></i>
</a>
<a href="#" class="margin-right-5 btn">
  <i class="mdi mdi-youtube fs-1 text-white"></i>
</a>
<a href="#" class="margin-right-5 btn">
  <i class="mdi mdi-twitter fs-1 text-white"></i>
</a>
