<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navbar %>
    <section>
      <div class="jumbotron jumbotron-fluid margin-bottom-0 bg-white">
        <div class="container">
          <div class="row padding-top-80 padding-bottom-80">
            <div
              class="col-md-5 d-flex flex-column justify-content-center mb-4 mb-md-0"
            >
              <h1>Sobre nosotros</h1>
              <p>
                ZARU arquitectura es un estudio en donde no seguimos
                estereotipos ni modas, nos adaptamos a los sueños de lo más
                importante: “tú”, plasmándolo en arquitectura que se basa en
                tendencias de impacto para convertirse en única. Trabajamos en
                conjunto contigo de principio a fin, pues creemos que la mejor
                base para lograr un proyecto exitoso es enraizar las fantasías,
                filtrarlas en la teoría y transformarlas en realidad, lo
                practicamos como forma de vida obteniendo como finalidad tu
                deseo. Tenemos la firme convicción que laborar con entusiasmo,
                pasión y ser perseverante conlleva a grandes resultados; nunca
                rendirse es nuestro eslogan.
              </p>
              <a href="/contactanos">
                <button class="btn btn-accent">Contáctanos</button>
              </a>
            </div>
            <div class="col-md-7">
              <img
                src="/images/black-white-building-construction.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <% include ../partials/footer %>
  </body>
</html>
