<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <nav>
      <% include ../partials/navbar %>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>
        </div>
      </div>
    </div>
  </body>
</html>
