<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navbar %>
    <header>
      <div class="jumbotron-fluid text-center text-white" id="index-header">
        <div class="jumbotron-fluid index-header-content">
          <div class="header-separator"></div>
          <div class="container">
            <h1>Broad Vision.Honest Service.Great Value.</h1>
            <p>OUR GOAL THEN AND NOW IS TO PROVIDE QUALITY ON TIME PROJECTS</p>
          </div>
          <div class="header-separator"></div>
        </div>
      </div>
    </header>

    <div class="jumbotron jumbotron-fluid margin-bottom-0 bg-white">
      <div class="container">
        <div class="row padding-top-80 padding-bottom-80">
          <div class="col-md-7">
            <h1>Welcome To The Concrete Constructions</h1>
            <h3>Where We Build Your Visions</h3>
            <p>
              Write a warm welcoming message for visitors.You can mention all
              the benefits or services with some real examples. You can also
              state how you emphasize on their well being. This often shows your
              concern and increases the chances of conversion. Tell people a
              little more to attract.You can mention some contact details as
              shown below to get in touch with visitors.
            </p>
            <p>Call Us Today: 91 123-456-7890,91 123-456-7891</p>
          </div>
          <div class="col-md-5">
            <img
              src="/images/construction-image32-1-free-img.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron jumbotron-fluid margin-bottom-0 bg-metallic">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Our Specialization</h1>
            <p>
              You can use these sections to highlight the features of heading.
              Use these paragraphs to focus on the topic you want. Make sure you
              keep it short and attractive.
            </p>
          </div>
          <div class="col-12 col-md-4">
            <div class="text_card">
              <h5>Architecture</h5>
              <p>
                A short description of this quality. Make these lines enticing
                enough to prove that you are the best in all you do.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="text_card">
              <h5>Landscape Design</h5>
              <p>
                A short description of this quality. Make these lines enticing
                enough to prove that you are the best in all you do.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="text_card">
              <h5>Furniture Design</h5>
              <p>
                A short description of this quality. Make these lines enticing
                enough to prove that you are the best in all you do.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="text_card">
              <h5>Exterior Design</h5>
              <p>
                A short description of this quality. Make these lines enticing
                enough to prove that you are the best in all you do.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="text_card">
              <h5>Planning</h5>
              <p>
                A short description of this quality. Make these lines enticing
                enough to prove that you are the best in all you do.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="text_card">
              <h5>Interior Design</h5>
              <p>
                A short description of this quality. Make these lines enticing
                enough to prove that you are the best in all you do.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron jumbotron-fluid margin-bottom-0 bg-white">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Our Recent Projects</h1>
            <p>
              You can use these sections to highlight the features of heading.
              Use these paragraphs to focus on the topic you want. Make sure you
              keep it short and attractive.
            </p>
          </div>
          <div class="col-12 col-md-4">
            <div class="image-gallery__card">
              <h3>Beautiful building</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <img
                class="img-fluid"
                src="/images/orp1.jpg"
                alt="Image of a building"
              />
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="image-gallery__card">
              <h3>Beautiful building</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <img
                class="img-fluid"
                src="/images/orp2.jpg"
                alt="Image of a building"
              />
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="image-gallery__card">
              <h3>High building</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <img
                class="img-fluid"
                src="/images/orp3.jpg"
                alt="Image of a building"
              />
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="image-gallery__card">
              <h3>Strong fundations</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <img
                class="img-fluid"
                src="/images/orp4.jpg"
                alt="Image of a building"
              />
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="image-gallery__card">
              <h3>Design with beauty in mind</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <img
                class="img-fluid"
                src="/images/orp5.jpg"
                alt="Image of a building"
              />
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="image-gallery__card">
              <h3>Beautiful building</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              <img
                class="img-fluid"
                src="/images/orp6.jpg"
                alt="Image of a building"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron jumbotron-fluid margin-bottom-0 bg-metallic">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Our Expert Team</h1>
            <p>
              You can use these sections to highlight the features of heading.
              Use these paragraphs to focus on the topic you want. Make sure you
              keep it short and attractive.
            </p>
          </div>
          <div class="col-12 padding-top-30"></div>
          <div class="col-12 col-md-4">
            <div class="card margin-top-20">
              <img src="/images/cp1.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h4 class="card-title">Juan George</h4>
                <h5>CEO/ Vice President</h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="card margin-top-20">
              <img src="/images/cp2.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h4 class="card-title">Juan George</h4>
                <h5>CEO/ Vice President</h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="card margin-top-20">
              <img src="/images/cp3.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h4 class="card-title">Juan George</h4>
                <h5>CEO/ Vice President</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include ../partials/footer %>
  </body>
</html>
