<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navbar %>
    <header>
      <div class="jumbotron-fluid text-center bg-index-header text-white padding-top-70 padding-bottom-70">
        <div class="container index-header">
          <h1>
            Broad Vision.Honest Service.Great Value.
          </h1>
          <p>
            OUR GOAL THEN AND NOW IS TO PROVIDE QUALITY ON TIME PROJECTS
          </p>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
  </body>
</html>
