.bg-principal {
  background-color: black;
}

.color-principal {
  color: white;
}

.bg-second {
  background-color: rgba($color: #272a31, $alpha: 0.85);
}

.bg-metallic {
  background-color: #dcdcdc;
}