:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "architextregular";
  src: url("../fonts/architext/architex-webfont.woff2") format("woff2"),
    url("../fonts/architext/architex-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rollandinemilieregular";
  src: url("../fonts/rollandinemilie/rollandinemilie-webfont.woff2")
      format("woff2"),
    url("../fonts/rollandinemilie/rollandinemilie-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "rollandinemilieregular";
  font-size: 2.4rem;
}

@media (min-width: 35em) {
  h1 {
    font-size: 3.2rem;
  }
}

@media (min-width: 50em) {
  h1 {
    font-size: 4rem;
  }
}
