:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "rollandinemilieregular";
  src: url("../fonts/rollandinemilie/rollandinemilie-webfont.woff2")
      format("woff2"),
    url("../fonts/rollandinemilie/rollandinemilie-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-family: "Shadows Into Light", sans-serif;
}

h1 {
  font-size: 5rem !important;
}

h2 {
  font-size: 4rem !important;
}

@media (min-width: 35em) {
  h1 {
    font-size: 3.2rem;
  }
}

@media (min-width: 50em) {
  h1 {
    font-size: 3.5rem;
  }
}
