.hero-section {
  background-image: url("/images/header-image.jpg");
  height: calc(100vh - 96px);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-family: "rollandinemilieregular", sans-serif;
    font-size: 4rem !important;
  }

  @media screen and (min-width: 800px) {
    h1 {
      font-size: 6rem !important;
    }
  }

  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 9rem !important;
    }
  }

  .hero-section__overlay {
    background-color: rgba($color: #272a31, $alpha: 0.85);
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button {
    font-weight: bolder;
    font-size: 2rem;
    padding: 0.6em 2em;
    color: black;
  }
}
