@mixin make_margins($amount) {
  @for $i from 0 to $amount {
    @include make_margin_top($i * 5);
    @include make_margin_bottom($i * 5);
    @include make_margin_left($i * 5);
    @include make_margin_right($i * 5);
  }
}

@mixin make_margin_top($size) {
  .margin-top-#{$size}{
    margin-top: #{$size}px;
  }
}

@mixin make_margin_bottom($size) {
  .margin-bottom-#{$size}{
    margin-bottom: #{$size}px;
  }
}
@mixin make_margin_left($size) {
  .margin-left-#{$size}{
    margin-left: #{$size}px;
  }
}
@mixin make_margin_right($size) {
  .margin-right-#{$size}{
    margin-right: #{$size}px;
  }
}