@mixin make_paddings {
  @for $i from 0 to 6 {
    @include make_padding_top($i * 5);
    @include make_padding_bottom($i * 5);
    @include make_padding_left($i * 5);
    @include make_padding_right($i * 5);
  }
}

@mixin make_padding_top($size) {
  .padding-top-#{$size}{
    padding-top: $size;
  }
}

@mixin make_margin_bottom($size) {
  .padding-top-#{$size}{
    padding-bottom: $size;
  }
}
@mixin make_margin_left($size) {
  .padding-top-#{$size}{
    padding-left: $size;
  }
}
@mixin make_margin_right($size) {
  .padding-top-#{$size}{
    padding-right: $size;
  }
}