
@import "margin_mixins"; 
@import "padding_mixins";

@include make_margins(20);
@include make_paddings(20);

.index-header{
  background-image: url("/images/header-image.jpg");
  background-position: center;
  background-size: cover;
  background-color: #303030 !important;
}
